.plant-seed{class: @map.has_seed?(seed) ? 'acquired' : 'not-acquired'}
  .row
    .columns.small-6
      %label.switch.radius
        = check_box_tag 'map[acquired_seeds][]', seed.id, @map.has_seed?(seed), id: "map_acquired_seeds_#{seed.id}"
        %label{for: "map_acquired_seeds_#{seed.id}"}
        = fa_icon(seed.orchard? ? 'tree' : 'leaf', class: 'fa-sm')
        = seed.name

    .columns.small-6
      .used-in
        = seed.product.used_for.map(&:name).join(', ')
