.row
  .columns.small-12.large-8
    %h2 Your Maps
  .columns.small-12.large-4
    = link_to('New Map', new_map_path, class: 'button right')

- if @maps.any?
  - @maps.each do |map|
    %p= link_to(map.name || 'unnamed map', map)

- else
  %p
    You have no maps started yet, create one to manage all the things.

