%h2= best_in_place @map, :name, nil: 'unnamed map'

#map
  = form_for(@map) do |f|
    .row
      .columns.small-12
        = f.submit('Save Seeds', class: 'button right')

    %h3 Seeds To Acquire
    = render partial: 'show_plant_seed', collection: @map.unacquired_plant_seeds, as: :seed
    %h3 Acquired Seeds
    = render partial: 'show_plant_seed', collection: @map.acquired_plant_seeds, as: :seed

    .row
      .columns.small-12
        = f.submit('Save Seeds', class: 'button tiny')
  .row
    .columns.small-12
      = link_to('delete map', map_path(@map), method: :delete, class: 'right', data: { confirm: 'Are you sure?' })
