@import 'foundation_and_overrides';
@import 'font-awesome';

$line-height: 24px;

input[type="submit"] {
  @extend .button;
}

#map {

  .plant-seed {
    border-radius: $global-radius;
    label.switch {
      font-size: rem-calc(24);
      label {
        padding-top: ($line-height / 2);
      }
    }
    padding: ($line-height / 2) 0;
    &.acquired {
      label {
        color: $smoke;
      }
      &.changed {
        background-color: $warning-color;
      }
    }
    &.not-acquired {
      &.changed {
        background-color: $success-color;
      }
    }

    .used-in {
      font-size: rem-calc(16);
    }
  }
}
