!!! 5
%html
  %head
    %title Banishedhq
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    %nav.top-bar{"data-topbar" => "", "data-options" => "is_hover: false", 'role' => 'navigation'}
      %ul.title-area
        %li.name
          %h1
            %a{:href => "/"}
              Banished HQ
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span menu
      %section.top-bar-section
        %ul.right
          - if current_user
            %li= link_to('Maps', maps_path)
          %li.has-dropdown
            %a{:href => "#"} Account
            %ul.dropdown
              - if current_user
                %li= link_to('Sign Out', destroy_user_session_path)
              - else
                %li= link_to('Sign In', new_user_session_path)
                %li= link_to('Register', new_user_registration_path)

    .row
      .large-12.columns
        %p.notice= notice
        %p.alert= alert

    .row
      .large-12.columns
        = yield

    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p © 2015 Copyright Darren Boyd.

          .large-6.columns
            %ul
              %li= link_to('About Me', '//darrenboyd.github.io/')
